.card {
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
}

/* .card:not(:last-child):after {
    content: "";
    border-right: 1px solid white;
    height: 60px;
    display: block;
    color: white;
    margin: 0px 15px;
} */

.cardIcon {
    margin-right: 1rem;
}

.cardContent {}