.card {
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
}

.cardIcon {
    margin-right: 1rem;
}

.cardContent {}

.infoCard {
    border: 1px solid #00800057;
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem 2rem 2rem 0;
}
.infoCard p {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}



.serviceImg {
    box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 5px;
    
}

.infoCard img {
    mix-blend-mode: darken;
    max-width: unset!important;
}