@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-color-hero: theme(colors.app-color-hero);

  --app-black: theme(colors.app-black);
  --app-black-200: theme(colors.app-black-200);
  --app-black-300: theme(colors.app-black-300);
  --app-black-600: theme(colors.app-black-600);

  --app-white: theme(colors.app-white);
  --app-white-700: theme(colors.app-white-700);
  --app-white-800: theme(colors.app-white-800);
  
  --app-gold: theme(colors.app-gold);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  .end-cursor:after {
    content: '|';
    color: var(--app-white-700);
  }
  
  .end-cursor.blinking:after {
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

.animator_bar {
  box-shadow: 0.5px 1.0px 1.0px hsl(0deg 0% 0% / 0.49);
}