.heroSection {
    background-color: var(--app-color-hero);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoSection {
    margin: auto;
    position: absolute;
    top: 87%;
    left: calc(5% - 8px);
    color: #fff;
    background-color: var(--app-gold);
    box-shadow: 1.4px 2.7px 2.7px hsl(0deg 0% 0% / 0.46);
}

.btnWrapper {
    top: 20rem;
    left: calc(5% - 8px);
}

/* .endCursor:after {
    content: '|';
    color: var(--app-white-700);
}

.endCursor.blinking:after {
    content: "|";
    color: var(--app-white-700);
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
} */