.heroSection {
    background-color: var(--app-white);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoSection {
    margin: auto;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: var(--app-gold);
}

.btnWrapper {
    top: 20rem;
    left: calc(5% - 8px);
}

.featureWrapper {
    color: #333;
    font-family: Rubik, sans-serif;
}

.highlighted{
    position: relative;
    background: 0 0;
    z-index: 0;
}

.highlighted::before {
    content: '';
    background: #ead9b3;
    position: absolute;
    left: 0;
    right: -2px;
    bottom: 2px;
    height: 16px;
    z-index: -1;
}

.serviceList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageRotator {
    max-width: 100%;
    height: auto;
}

.customerWrapper {
    margin: 10rem auto;
}

.customerCard{
    height: 500px;
    width: 60%;
    border: 1px solid inherit;
    border-radius: 5px;
    padding: 4rem 1rem;
    text-align: center;
}