.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style: none;
    display: flex;
}

.nav li {
    padding: 1rem;
    height: 59px;
}

.link:hover {
    color: #707070;
    transition: color 0.3s ease-in-out;
}

.link:hover:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid var(--app-black-600);
    animation-name: expand;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

@keyframes expand {
    from {
      width: 0%;
    }
  
    to {
      width: 100%;
    }
  }